body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/c2.jpg');
    background-size: cover;
}

.container {
    max-width: 500px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.login-header {
    text-align: center;
    font-style: italic;
    color: #008000; /* Color verde para la letra */
    margin-bottom: 30px;
}

.login-container {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 30px);
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semi-transparente */
    opacity: 0.7; /* Opacidad */
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #fbfffb; /* Color verde para el placeholder */
    font-style: italic; /* Cursiva para el placeholder */
}

.form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* Icono a la derecha */
    color: #f7f9f7; /* Color verde para el icono */
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 100, 0, 0.8); /* Verde con opacidad */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espacio entre el último input y el botón */
}

button:hover {
    background-color: rgba(66, 173, 66, 0.6); /* Cambio de color con opacidad al pasar el cursor */
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color:#f3f8f3;
}

.register-link a {
    color: #78c778; /* Color verde para el enlace */
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
